{% extends 'base.html.twig' %}

{% block title %}Monstre index{% endblock %}

{% block body %}
    <h1>Monstre index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Pv</th>
                <th>Atk</th>
                <th>Def</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monstre in monstres %}
            <tr>

                <td>{{ monstre.name }}</td>
                <td>{{ monstre.pv }}</td>
                <td>{{ monstre.atk }}</td>
                <td>{{ monstre.def }}</td>
                <td>
                    <a href="{{ path('app_monstre_show', {'id': monstre.id}) }}">show</a>
                    <a href="{{ path('app_monstre_edit', {'id': monstre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_monstre_new') }}">Create new</a>
{% endblock %}
