{% extends 'base.html.twig' %}

    {% block title %}Histoire{% endblock %}

    {% block body %}
        <h1>{{ histoire.titre }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ histoire.titre }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ histoire.createdAt ? histoire.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ histoire.description }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('app_histoire_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {% if is_granted('ROLE_ADMIN') or app.user == histoire.createur %}
            <a href="{{ path('app_histoire_edit', {'id': histoire.id}) }}" class="btn btn-primary">Modifier</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or app.user == histoire.createur %}
            <form method="post" action="{{ path('app_histoire_delete', {'id': histoire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette histoire ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ histoire.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        {% endif %}

        {% set canAddChapter = is_granted('ROLE_USER') and (is_granted('ROLE_ADMIN') or app.user == histoire.createur) %}
        {% if canAddChapter %}
        <h2>Chapitres</h2>
        <ul>
            {% if is_granted('ROLE_ADMIN') or app.user == histoire.createur %}
                {% for chapitre in chapitres %}
                    <li>
                        {{ chapitre.titre }}
                        <a href="{{ path('app_chapitre_edit', { 'histoireId': histoire.id, 'chapitreId': chapitre.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('app_chapitre_show', { 'histoireId': histoire.id, 'chapitreId': chapitre.id }) }}" class="btn btn-secondary btn-sm">Voir</a>

                        {% if chapitre.choix|length > 0 %}
                            <ul>
                                {% for choix in chapitre.choix %}
                                    {% if choix.chapitreCible %}
                                        <li>Chapitre Cible :
                                            <a href="{{ path('app_chapitre_show', { 'histoireId': histoire.id, 'chapitreId': choix.chapitre.id }) }}">
                                                {{ choix.chapitreCible }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% else %}
                    <li>Aucun chapitre pour cette histoire.</li>
                {% endfor %}
            {% endif %}
        </ul>
            <a href="{{ path('app_histoire_index') }}" class="btn btn-secondary">Retour à la liste</a>

        {% endif %}
    {% endblock %}