<div class="stat-hero">
    <h3>Statistiques du héros</h3>
    <ul>
        <li>PV : {{ statHero.pvActu }}</li>
        <li>ATK : {{ statHero.atkActu }}</li>
        <li>DEF : {{ statHero.defActu }}</li>
        <li>AGI : {{ statHero.agiActu }}</li>
        <li>INT : {{ statHero.intActu }}</li>
    </ul>
</div>